
main{
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    top: 15vh;
    display: flex;
    flex-direction: column;
    gap: 4vw;
    min-height: 100%;
}
.about-us-container-unit{
    display: flex;
    flex-direction: column;
    gap: 4vw;
}
.about-us-container{
    font-family: inter;
    color: white;
    font-size: 2vw;
    max-width: 66vw;
    display: flex;
    flex-direction: column;
    gap: 4vw;
    padding-left: 2vw;
    padding-bottom: 100vw;
}
.about-us-heading{
    font-size: 4.25vw;
    font-family: inter;
}
.about-us-bar{
    position: absolute;
    left: 0%;
    top: 55%;
    height: 45%;
    width: 100%;
    z-index: -1;
}
@media (max-width:500px){
    .about-us-container{
        padding-left: 1vw;
    }
}
