@font-face { font-family: Hanson; src: url('Hanson700.otf'); }
@font-face { font-family: schabo; src: url('schabo.otf'); }
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-height: 10vh;
    background-color: #0B0B0B;
    color: white;
    display: flex;
    align-items: center;
    justify-content:space-between;
    z-index: 100;
    padding:1.5vw;
}
footer{
    position:absolute;
    top: var(--total-height);
    left: 0;
    right: 0;
    background-color:#0B0B0B;
    padding: 2vw;
    padding-bottom: 3vw;
}
header img{
    height: 2.25vw;
}
.burger-menu{
    width: 2.5vw;
    height: 1.75vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}
.burger-icon{
    height: 0.1vw;
    background-color: white;
}
.footer-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.join-us{
    font-size: 2.5vw;
    font-family: hanson;
    color: white;
    cursor: pointer;

}
footer img{
    height: 3.5vw;
}
.footer-images{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
.footer-bottom{
    color: gray;
    font-family: inter;
    font-size: 1.25vw;
}
@media (min-width:500px){
    .footer-bottom span {
        text-decoration: none;
        position: relative;
      }
      .footer-bottom span::after {
        content: "";
        position: absolute;
        bottom: -2px; 
        left: 50%;
        transform: translateX(-50%);
        height: 2px;
        width: 0;
        background-color: gray; 
        transition: width 0.3s ease;
      }
      .footer-bottom span:hover::after {
        width: 100%;
      }
}
@media (max-width:499px){
    header{
        padding:4vw;
    }
    header img{
        height: 3.5vw;
    }
    .burger-menu{
        width: 5vw;
        height:3vw;
    }
    .burger-icon{
        height: 0.1vw;
    }
}
